{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
<main class="main">
    <section class="container py-5">
        <h1 class="text-center my-4">Modifier un utilisateur</h1>

        <a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-primary"
            title="Revenir à la liste des utilisateurs">Revenir à la liste des utilisateurs</a>

        {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
    </section>
</main>
{% endblock %}