{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
<main class="main">
    <section class="container py-5">
        <h1 class="text-center my-4">Créer un nouvel utilisateur</h1>

        <a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-primary my-4"
            title="Revenir à la liste des utilisateurs">Revenir à la iiste</a>

        {{ include('admin/user/_form.html.twig') }}
    </section>
</main>
{% endblock %}