{% extends 'base.html.twig' %}

{% block title %}Crée un utilisateur{% endblock %}

{% block body %}
  <section class="container py-5 my-4">
    <h1 class="text-center my-4">Créer un utilisateur</h1>

    <a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-dark my-4" title="Revenir à la liste">Revenir à la liste</a>

    {{ include('admin/user/_form.html.twig') }}
 
  </section>
{% endblock %}
