<footer class="py-5 bg-dark text-light footer">
    <div class="container px-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <h5 class="mb-3">Biblios</h5>
                <p>Votre bibliothèque en ligne.</p>
            </div>
            <div class="col-md-6 text-center">
                <p class="mb-0">&copy; {{ "now"|date("Y") }} Alexis Bessac. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>