{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau genre{% endblock %}

{% block body %}
 <main class="main">
    <section class="container py-5">
        <h1 class="text-center my-4">Créer un nouveau genre</h1>

        <a href="{{ path('app_admin_genre_index') }}" class="btn btn-outline-primary my-4" title="Revenir à la liste des genres">Revenir à la liste des genres</a>
    
        {{ include('admin/genre/_form.html.twig') }}
    
    </section>
 </main>
{% endblock %}
