{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
<main>
    <section>
        <div class="container my-5">
            <h1 class="mb-4 text-center">Détails de l'auteur</h1>
    
            <div class="my-4">
                <a href="{{ path('app_admin_author_index') }}" class="btn btn-secondary me-2">
                    <i class="fas fa-arrow-left"></i> Retour à la liste
                </a>
            </div>
    
            <table class="table table-bordered table-striped my-4">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ author.name }}</td>
                    </tr>
                </tbody>
            </table>
    
            {{ include('admin/author/_delete_form.html.twig') }}
        </div>
    </section>
</main>
{% endblock %}
